<% layout("/layouts/boilerplate") %>

<body>
    <h3 class="offset-3">Edit your listing:</h3>



    <div class="row">

      <div class="col-4 offset-3 ">
        <img class="show-img" src="<%= listing.image%>"  alt="listing_image">
        

      </div>
      <div class="row">
        <p class="offset-3">
          <b><%= listing.title%></b>
         </p>
       <p class="col-4 offset-3">
        <i><%= listing.description%></i><br>
        &#8377; <%= listing.price.toLocaleString("en-IN")%> <br>
        <%= listing.location%> <br>
        <%= listing.country%>
       </p>
      </div>
    </div>

    <div class="show-btn offset-3">
      <a class="btn btn-dark edit" href="/listings/<%=listing._id %>/edit">Edit..</a>

      <a href="">
        
      </a>

        <form  method="post" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark delete">Delete</button>
        </form>
    </div>
   
        
</body>
